---
import BaseLayout from "~/layouts/BaseLayout.astro";
import Box from "~/components/ui/Box.astro";
import { db } from "~/db/config";
import { formTable } from "~/db/schema/form";
import { formatDateShort } from "~/utils";
const formSubmissions = await db.select().from(formTable);
---

<BaseLayout>
  <main class="min-h-screen flex">
    <Box class="p-10 w-full">
      <table class="table-auto w-full">
        <thead>
          <tr class="text-sm">
            <th
              class="text-start font-normal text-theme-muted bg-gray-100 py-2 px-4 rounded-tl-lg"
              >Name</th
            >
            <th class="text-start font-normal text-theme-muted bg-gray-100 p-2">Email</th>
            <th class="text-start font-normal text-theme-muted bg-gray-100 p-2"
              >Message</th
            >
            <th
              class="text-start font-normal text-theme-muted bg-gray-100 p-2 rounded-tr-lg"
              >Date</th
            >
          </tr>
        </thead>
        <tbody class="border border-gray-200">
          {
            formSubmissions.map((formSubmission) => (
              <tr class="border-b border-gray-200">
                <td class="p-2 px-4 text-gray-700">
                  {formSubmission.firstName} {formSubmission.firstName}
                </td>
                <td class="p-2 text-gray-700">{formSubmission.email}</td>
                <td class="p-2 text-gray-700">
                  <p>{formSubmission.message}</p>
                </td>
                <td class="p-2 text-gray-700">
                  <time datetime={formSubmission.createdAt}>
                    {formatDateShort(formSubmission.createdAt)}
                  </time>
                </td>
              </tr>
            ))
          }
        </tbody>
      </table>
    </Box>
  </main>
</BaseLayout>
